.my_plan li{margin-top: 5px;}
.panel_head{border: 1px solid #1EC38B;border-radius:5px;background-color: #FBFBFB;}
.index_panel{min-height: 150px;border: 1px dashed #1EC38B;border-top: none;border-bottom: none;}
